extends ../partials/layout
block content
    form(action="", method="post")
        h2 REGISTRO DE AREAS DE CURSOS
        div.form-group
            div
                label(for='course_id') Sigla Area Curso
                input(type='text', placeholder='' name='course_id')
            div
                label(for='course_name') Nombre Area Curso
                input(type='text', placeholder='' name='course_name')
            div
                label(for='academic_hours') Horas Academicas
                input(type='text', placeholder='' name='academic_hours')
            div
                label(for='minimal_assistance') Porcentaje de Asistencia Minima
                input(type='text', placeholder='' name='minimal_assistance')
            div
                label(for='minimal_assistance') Nota Minima de aprobacion
                input(type='text', placeholder='' name='minimal_score')
            button.btn.btn-primary(type="submit") GUARGAR
    a(href="/") CANCELAR