extends ../partials/layout
block content
    form(action="../editCourse", method="post")
        h2 EDITANDO AREA DE CURSOS
        div.form-group
            input(type = 'hidden',value=courses._id,name='_id')
            label(for='course_id') Id Area de Curso
            input(type='text', value=courses.course_id, name='course_id')
            
            label(for='course_name') Nombre Area de Curso
            input(type='text', value=""+courses.course_name, name='course_name')

            label(for='academic_hours') Horas Academicas
            input(type='text', value=""+courses.academic_hours, name='academic_hours')

            label(for='minimal_assistance') Porcentaje de Asistencia Minima
            input(type='text', value=""+courses.minimal_assistance,  name='minimal_assistance')

            button(type="submit") ACEPTAR
            
    a(href="../showOptions") CANCELAR