extends ../partials/layout
block content
    h2 ADMINISTRAR AREAS DE CURSOS
    table.table.table-bordered
        thead
            tr
                th ID AREA DE CURSO
                th NOMBRE AREA DE CURSO
                th HORAS ACADEMICAS
                th ASISTENCIA MINIMA
                th OPCIONES
        tbody
        each val in courses
            tr 
                td=val.course_id
                td=val.course_name
                td=val.academic_hours
                td=val.minimal_assistance
                td 
                    a(href="../course/editcourse/"+val._id) Editar
                    a(href="../course/delete/"+val._id) Borrar