extends ../partials/layout
block content
    h2 ALUMNOS QUE RECIBIRAN CERTIFICADO
    

    
        table 
            tr
                th Nombre
                th CI
            each val in certifies
                if val.enrollment_id.course_id!=undefined
                    tr
                        td=val.enrollment_id.student_id.student_user_id.user_full_name
                        td=val.enrollment_id.student_id.student_user_id.user_id
        
    