extends ../partials/layout
block content
    h2 Ver Alumnos Certificados por curso
    form(action="showOptions", method="post")
        div
            label Seleccione el curso
            select(name="course_id")
                each course in courses
                    option(value=""+course.course_id._id)=course.course_id.course_id.course_name
        div            
            button(type="submit") Ver...!!!