extends ../partials/layout
block content
    form(action="", method="post")
        h2 REGISTRO DE CARGO
        div.form-group
            label(for='position_id') Id Cargo
            input(type='text', placeholder='' name='position_id')
            
            label(for='position_name') Nombre Cargo
            input(type='text', placeholder='' name='position_name')
            button(type="submit") GUARGAR
    a(href="../position/show") CANCELAR