extends ../partials/layout
block content
    form(action="../editPosition", method="post")
        h2 EDITANDO CARGO
        div.form-group
            input(type = 'hidden',value=positions._id,name='_id')
            label(for='position_id') Id Cargo
            input(type='text', value=positions.position_id, name='position_id')
            
            label(for='position_name') Nombre Cargo
            input(type='text', value=""+positions.position_name, name='position_name')
            button(type="submit") ACEPTAR
            
    a(href="../show") CANCELAR