extends ../partials/layout
block content
    table
        thead
            tr
                th ID CARGO
                th NOMBRE CARGO
                th OPCIONES
        tbody
        each val in positions
            tr 
                td=val.position_id
                td=val.position_name
                td 
                    a(href="../position/editPosition/"+val._id) Editar
                    a(href="../position/delete/"+val._id) Borrar
