extends ../partials/layout
block content
    table
        thead
            tr
                th ID CARGO
                th NOMBRE CARGO
        tbody
        each val in positions
            tr 
                td=val.position_id
                td=val.position_name