extends ../partials/layout
block content
    form(action="", method="post")
        h2 REGISTRO DE PERSONAL
        div
            div
                label(for='user_id') CI Personal
                input(type='text', placeholder='' name='user_id')
            div
                label(for='user_full_name') Nombre Completo
                input(type='text', placeholder='' name='user_full_name')
            div
                label(for='username') Nombre Cuenta
                input(type='text', placeholder='' name='username')
            div
                label(for='prefix') Prefijo Unidad
                input(type='text', placeholder='' name='prefix')
            div
                label(for='password') Contraseña
                input(type='password', placeholder='' name='password')
            div
                label(for='password2') Confirmar Contraseña
                input(type='password', placeholder='' name='password2')

            button(type="submit") REGISTRAR
    a(href="/") CANCELAR