extends ../partials/layout
block content
    form(action="../editStaff", method="post")
        h2 ADMINISTRAR PERSONAL
        div.form-group
            
            input(type='hidden', value=''+staff.staff_user_id._id, name='_id')

            label(for='user_id') CI Personal
            input(type='text', value=''+staff.staff_user_id.user_id, name='user_id')
            
            label(for='user_full_name') Nombre Completo
            input(type='text', value=''+staff.staff_user_id.user_full_name, name='user_full_name')

            label(for='username') Nombre Cuenta
            input(type='text', value=''+staff.staff_user_id.username name='username')

            label(for='prefix') Prefijo
            input(type='text', value=''+staff.prefix name='prefix')

            input(type='hidden', value=''+staff.staff_user_id.password name='password')

            button(type="submit") ACEPTAR
            
    a(href="../showOptions") CANCELAR