extends ../partials/layout
block content
    h1 PERSONAL
    table
        thead
            tr
                th CI
                th NOMBRE
                th USERNAME
                th PREFIJO UNIDAD
                th OPCIONES
        tbody
        each val in staff
            tr 
                td=val.staff_user_id.user_id
                td=val.staff_user_id.user_full_name
                td=val.staff_user_id.username
                td=val.prefix
                td 
                    a(href="../staff/editStaff/"+val._id) Editar
                    a(href="../staff/delete/"+val.staff_user_id._id) Borrar
