extends ../partials/layout
block content
    form(action="", method="post")
        h2 CREACION DE CURSO
        div.form-group
            div
                label CI Personal
                select(name="staff_profesor_user_id")
                    option(value="", disabled, selected) --selecciona tu opcion-- 
                    each val in profesors
                        option(value=""+val._id) #{val.staff_user_id.user_full_name}
            div
                label Area Curso
                select(name="course_id")
                    option(value="", disabled, selected) --selecciona tu opcion-- 
                    each val in areas
                        option(value=""+val._id) #{val.course_name}
            div    
                label(for='start_date') Fecha Inicio
                input(type='date', placeholder='' name='start_date')
            div
                label(for='finish_date') Fecha Final
                input(type='date', placeholder='' name='finish_date')

            button.btn.btn-primary(type="submit") REGISTRAR
    a(href="/") CANCELAR
     