extends ../partials/layout
block content
    form(action="../editPost", method="POST")
        h2 CREACION DE CURSO
        div.form-group
            input(type="hidden", name="_id", value=""+courses[0]._id)
            label CI Personal
            select(name="staff_profesor_user_id")
                option(value=""+courses[0].staff_profesor_user_id._id, selected) #{courses[0].staff_profesor_user_id.staff_user_id.user_full_name}
                each val in profesors
                    if ""+val._id!=""+courses[0].staff_profesor_user_id._id
                        option(value=""+val._id) #{val.staff_user_id.user_full_name}


            label(for='start_date') Fecha Inicio
            input(type='date',  name='start_date')

            label(for='finish_date') Fecha Final
            input(type='date',  name='finish_date')

            input(type="hidden", name="course_id", value=""+courses[0].course_id._id)
            button(type="submit") EDITAR
    a(href="/") CANCELAR
     