extends ../partials/layout
block content
    h2 ADMINISTRAR TODOS LOS CURSOS
    
    table.table.table-bordered
        tr
            th Nombre Curso
            th ID Curso
            th Fecha Inicio
            th Fecha Fin
            th Asistencia Requerida
            th Nota Minima
            th Instructor
            th Opciones
        each val in courses
            tr
                td=val.course_id.course_name
                td=val.course_id.course_id 
                td=val.start_date
                td=val.finish_date
                td=val.course_id.minimal_assistance
                td=val.course_id.minimal_score
                td=val.staff_profesor_user_id.staff_user_id.user_full_name
                td 
                    a(href="../courseProfesor/edit/"+val._id) Editar
                    a(href="../courseProfesor/delete/"+val._id) Borrar