extends partials/layout

block content
    form(action="signin", method="post")
        div
            label(for="") Correo:
            input(type="email", name="email")
        div
            label(for="") Contraseña
            input(type="password", name="password")
        div 
            button(type="submit") SIGN IN!
    img(src='img/trabajando.jpg', alt="Sitio en construccion")
    
