<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title CRUD - WEB
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        script(src="/js/jquery-3.3.1.min.js")
        script(src="/js/popper-1.14.3.min.js")
        script(src="/js/bootstrap.min.js")
        
    body
        header.container
            h1.text-center TAREA WEB