nav.navbar-expand-sm.bg-dark.navbar-dark
    div.container
        ul.navbar-nav
            li.nav-item 
                a.nav-link(href="/") INICIO
            li.nav-item.dropdown  
                a(class='nav-link dropdown-toggle' id="navbardrop" data-toggle="dropdown" href="#") CARGOS
                div.dropdown-menu
                    a.dropdown-item(href="../position/show") Mostrar Cargos
                    a.dropdown-item(href="../position/create") Nuevo Cargo
                    a.dropdown-item(href="../position/showOptions") Editar Cargos
            li.nav-item.dropdown  
                a(class='nav-link dropdown-toggle' id="navbardrop" data-toggle="dropdown" href="#") UNIDAD
                div.dropdown-menu  
                    a.dropdown-item(href="/department/show") Todas las Unidades
                    a.dropdown-item(href="/department/create") Añadir Unidad
                    a.dropdown-item(href="/department/showOptions") Editar Unidades
            li.nav-item.dropdown  
                a(class='nav-link dropdown-toggle' id="navbardrop" data-toggle="dropdown" href="#") CURSOS
                div.dropdown-menu  
                    a.dropdown-item(href="/courseProfesor/show") Todos los Cursos
                    a.dropdown-item(href="/courseProfesor/showOptions") Administrar Cursos Iniciados
                    a.dropdown-item(href="/courseProfesor/create") Iniciar Nuevo Curso
                    a.dropdown-item(href="/course/create") Registrar Curso
                    a.dropdown-item(href="/course/showOptions") Administrar Cursos
            li.nav-item.dropdown  
                a(class='nav-link dropdown-toggle' id="navbardrop" data-toggle="dropdown" href="#") ESTUDIANTES
                div.dropdown-menu  
                    a.dropdown-item(href="/student/create") Registrar Estudiantes
                    a.dropdown-item(href="/student/showOptions") Administrar Estudiantes
            li.nav-item.dropdown  
                a(class='nav-link dropdown-toggle' id="navbardrop" data-toggle="dropdown" href="#") PERSONAL
                div.dropdown-menu  
                    a.dropdown-item(href="/staff/create") Registrar Personal
                    a.dropdown-item(href="/staff/showOptions") Administrar Personal
            li.nav-item.dropdown  
                a(class='nav-link dropdown-toggle' id="navbardrop" data-toggle="dropdown" href="#") ASIGNACION DE PERSONAL
                div.dropdown-menu  
                    a.dropdown-item(href="/staffAssignment/show") Ver Personal Asignado
                    a.dropdown-item(href="/staffAssignment/create") Asignar Personal
                    a.dropdown-item(href="/staffAssignment/showOptions") Administrar Personal
            li.nav-item.dropdown  
                a(class='nav-link dropdown-toggle' id="navbardrop" data-toggle="dropdown" href="#") INSCRIPCIONES
                div.dropdown-menu
                    a.dropdown-item(href="/enrollment/create") Inscribir estudiante
                    a.dropdown-item(href="/enrollment/show") Estudiantes Inscritos
                    a.dropdown-item(href="/certified/show") Certificados