extends ../partials/layout
block content
    form(action="", method="post")
        h2 REGISTRO DE UNIDAD
        div.form-group
            label(for='position_id') Id Unidad
            input(type='text', placeholder='' name='department_id')
            
            label(for='position_name') Nombre Unidad
            input(type='text', placeholder='' name='department_name')
            button(type="submit") GUARGAR
    a(href="/department/show") CANCELAR