extends ../partials/layout
block content
    form(action="../editDepartment", method="post")
        h2 EDITANDO UNIDAD
        div.form-group
            input(type = 'hidden',value=departments._id,name='_id')
            label(for='department_id') Id Unidad
            input(type='text', value=departments.department_id, name='department_id')
            
            label(for='department_name') Nombre Unidad
            input(type='text', value=""+departments.department_name, name='department_name')
            button(type="submit") ACEPTAR
            
    a(href="../show") CANCELAR