extends ../partials/layout
block content
    h2 UNIDADES DISPONIBLES
    table
        thead
            tr
                th ID UNIDAD
                th NOMBRE UNIDAD
        tbody
        each val in departments
            tr 
                td=val.department_id
                td=val.department_name
    