extends ../partials/layout
block content
    h2 ADMINISTRAR UNIDADES
    table
        thead
            tr
                th ID UNIDAD
                th NOMBRE UNIDAD
                th OPCIONES
        tbody
        each val in departments
            tr 
                td=val.department_id
                td=val.department_name
                td 
                    a(href="/department/editDepartment/"+val._id) Editar
                    a(href="/department/delete/"+val._id) Borrar
