extends ../partials/layout
block content
    form(action="../editStudent", method="post")
        h2 ADMINISTRAR ESTUDIANTES
        div.form-group
            
            input(type='hidden', value=''+students.student_user_id._id, name='_id')

            label(for='user_id') CI Estudiante
            input(type='text', value=''+students.student_user_id.user_id, name='user_id')
            
            label(for='user_full_name') Nombre Completo
            input(type='text', value=''+students.student_user_id.user_full_name, name='user_full_name')

            label(for='username') Nombre Cuenta
            input(type='text', value=''+students.student_user_id.username name='username')

            input(type='hidden', value=''+students.student_user_id.password name='password')

            button(type="submit") ACEPTAR
            
    a(href="../showOptions") CANCELAR