extends ../partials/layout
block content
    h1 ESTUDIANTES
    table.table.table-bordered
        thead
            tr
                th CI
                th NOMBRE
                th USERNAME
                th OPCIONES
        tbody
        each val in students
            tr 
                td=val.student_user_id.user_id
                td=val.student_user_id.user_full_name
                td=val.student_user_id.username
                td 
                    a.btn.btn-danger(href="../student/editStudent/"+val._id) Editar
                    a.btn.btn-warning(href="../student/delete/"+val.student_user_id._id) Borrar
