extends ../partials/layout
block content
    h4 Estudiante: #{estudiante[0].student_id.student_user_id.user_full_name}
    h4 Curso: #{estudiante[0].course_id.course_id.course_name}

    //h4 Nota: #{estudiante[0].final_score}


    form(action="/enrollment/edit", method="post")
        if estudiante[0].presence!=undefined
            div
                label(for="" ) Asistencia
                input(type="text" name="asistencia" value=estudiante[0].presence)
        if estudiante[0].final_score!=undefined
            div
                label(for="") Nota
                input(type="text" name="nota" value=estudiante[0].final_score) 


        
        input.btn.btn-success(type='submit', value='Done')