extends ../partials/layout
block content
    h2 INSCRIBIR ESTUDIANTE
    form(action="", method="post")
        div
            label CI Estudiante
            input(type="text", name="ci")
        div
            label Seleccione el curso
            select(name="course_id")
                each course in courses
                    option(value=""+course._id)=course.course_id.course_name
        div            
            button(type="submit") Inscribir...!!!