extends ../partials/layout
block content
    h3 Agregar Notas y Asistencia
    h4 Curso #{alumnos[0].course_id.course_id.course_name}
    a.btn.btn-success.btn-block#guardarNotas(href="") Generar Certificados
    table.table.table-bordered
        thead
            tr
                th Nombre Estudiante
                th Porcentaje asistencia
                th Nota
        tbody    
            each alumno in alumnos
                tr(id=alumno._id)
                    td=alumno.student_id.student_user_id.user_full_name
                    if(alumno.course_id.course_id.minimal_assistance!=null)
                        td 
                            input(type="hidden", name="minimal_assistance" value=alumno.course_id.course_id.minimal_assistance)
                            input(type="text" name="presence")
                    else
                        td NO se requiere
                    if(alumno.course_id.course_id.minimal_score!=null)
                        td
                            input(type="hidden", name="minimal_score" value=alumno.course_id.course_id.minimal_score)
                            input(type="text", name="final_score")
                    else
                        td No se requiere
    script(src="/js/final_score.js")