extends ../partials/layout
block content
    h2 ADMINISTRAR ESTUDIANTES INSCRITOS
    if (courses.length >0)
        h3 Curso: #{courses[0].course_id.course_id.course_name}
        h3 Docente: #{courses[0].course_id.staff_profesor_user_id.staff_user_id.user_full_name}
        h3 Asistencia minima: #{courses[0].course_id.course_id.minimal_assistance}%
        h3 Nota minima de aprobacion:  #{courses[0].course_id.course_id.minimal_score}
        h3 Horas académicas: #{courses[0].course_id.course_id.academic_hours}
        if (courses[0].have_certifies==false)
            a.btn.btn-success.btn-block(href="notas/"+courses[0].course_id._id) Generar Certificados
    else
        h3 NO hay estudiantes inscritos
    
    table.table.table-bordered
        tr
            th Nombre Estudiante
            th Opciones
        if (courses.length >0)
            each val in courses
                tr
                    td=val.student_id.student_user_id.user_full_name
                    td 
                        if (courses[0].have_certifies==false)
                            a(href="delete/"+val._id, class="btn btn-primary") Dar de Baja 
                        a(href="admin/"+val._id, class="btn btn-danger") Opciones Administrador