extends ../partials/layout
block content
    h2 Ver Estudiantes por curso
    table.table.table-bordered
        thead
            tr
                th Nombre Curso
                th Fecha Inicio
                th Fecha Fin
                th
        tbody
            each course in courses
                tr
                    td=course.course_id.course_name
                    td=course.start_date
                    td=course.finish_date
                    td
                        form(action="showOptions", method="post")
                            input(type="hidden", name="course_id" value=""+course._id)           
                            button.btn.btn-primary(type="submit") Ver...!!!

    