extends ../partials/layout
block content
    form(action="", method="post")
        h2 ASIGNACION DE PERSONAL
        div.form-group
            label CI Personal
            select(name="staff_id")
                option(value="", disabled, selected) --selecciona tu opcion-- 
                each val in staff
                    option(value=""+val._id) #{val.staff_user_id.user_full_name}

            label Departamento
            select(name="department_id")
                option(value="", disabled, selected) --selecciona tu opcion-- 
                each val in department
                    option(value=""+val._id) #{val.department_name}
            
            abel Unidad
            select(name="position_id")
                option(value="", disabled, selected) --selecciona tu opcion-- 
                each val in position
                    option(value=""+val._id) #{val.position_name}

            label(for='start_date') Fecha Inicio
            input(type='date', placeholder='' name='start_date')

            label(for='finish_date') Fecha Final
            input(type='date', placeholder='' name='finish_date')

            label(for='year') Gestion
            input(type='text', placeholder='' name='year')

            button(type="submit") REGISTRAR
    a(href="/") CANCELAR
     