extends ../partials/layout
block content
    form(action="../editPost", method="post")
        h2 ASIGNACION DE PERSONAL
        div.form-group
            input(type="hidden", name="_id", value=""+staffAssignment[0]._id)

            label CI Personal
            select(name="staff_id")
                option(value=""+staffAssignment[0].staff_id._id, selected) #{staffAssignment[0].staff_id.staff_user_id.user_full_name} 
                each val in staff
                    if ""+staffAssignment[0].staff_id._id!=""+val._id
                        option(value=""+val._id) #{val.staff_user_id.user_full_name}

            label Departamento
            select(name="department_id")
                option(value=""+staffAssignment[0].department_id._id, selected) #{staffAssignment[0].department_id.department_name}
                each val in departments
                    if ""+staffAssignment[0].department_id._id != ""+val._id

                        option(value=""+val._id) #{val.department_name}
            
            abel Unidad
            select(name="position_id")
                option(value=""+staffAssignment[0].position_id._id,  selected) #{staffAssignment[0].position_id.position_name}
                each val in positions
                    if ""+staffAssignment[0].position_id._id != ""+val._id
                        option(value=""+val._id) #{val.position_name}

            label(for='start_date') Fecha Inicio
            input(type='date', placeholder='' name='start_date' required)

            label(for='finish_date') Fecha Final
            input(type='date', placeholder='' name='finish_date' required)

            label(for='year') Gestion
            input(type='text', value=""+staffAssignment[0].year, name='year')

            button(type="submit") EDITAR
    a(href="/") CANCELAR
     