extends ../partials/layout
block content
    h2 TODOS LOS EMPLEADOS
    
    table
        tr
            th Gestion
            th Cargo
            th Departamento
            th Empleado
            th Fecha Inicio
            th Fecha Fin

        each val in staffAssignment
            tr
                td=val.year
                td=val.position_id.position_name 
                td=val.department_id.department_name
                td=val.staff_id.staff_user_id.user_full_name
                td=val.start_date
                td=val.finish_date