extends ../partials/layout
block content
    h2 EDITAR ASIGNACION DE PERSONAL
    
    table
        tr
            th Gestion
            th Unidad
            th Departamento
            th Empleado
            th Fecha Inicio
            th Fecha Fin
            th Opciones
        each val in staffAssignment
            tr
                td=val.year
                td=val.position_id.position_name 
                td=val.department_id.department_name
                td=val.staff_id.staff_user_id.user_full_name
                td=val.start_date
                td=val.finish_date
                td 
                    a(href="../staffAssignment/edit/"+val._id) Editar
                    a(href="../staffAssignment/delete/"+val._id) Borrar